@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

body {
  background-image: url("assets/backgrnd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.signup {
  background-color: white;
  height: 410px;
  width: 280px;
  margin-left: 5%;
  margin-top: 12%;
  border-radius: 8px;
}

form {
  padding: 20px;
  font-size: 10px;
}
.title {
  padding: 10px;
  margin: 0;
  font-size: 21px;
}
.input {
  height: 55px;
}
input[type="text"] {
  /*order: -1;*/
  transition: transform 0.3s ease-in;
  /*transform: translateY(10px);*/
  border: none;
  border-bottom: 2px solid black;
  width: 230px;
  font-size: 10px;
  z-index: 1;
}
input[type="text"]:focus {
  /*transform: translate3d(54px, -20px, 0);*/
  outline: none;
}

input[type="tel"] {
  transition: transform 0.3s ease-in;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  font-size: 10px;
}

input[type="tel"]:focus {
  /*transform: translate3d(54px, -20px, 0);*/
  outline: none;
}

.submit-button {
  background-color: #000000; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 30px;
  width: 100%;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  align-self: center;
  z-index: 0;
  font-size: 15px;
}
.terms {
  margin: 0;
}
.buttons {
  align-content: center;
  text-align: center;
  padding-top: 10px;
}
.dec {
  padding-top: 10px;
  padding-bottom: 20px;
}
.login {
  background-color: white;
  border: none;
  color: #000000;
  margin-bottom: 0;
}
.iti__country-list {
  z-index: 10;
}

@media only screen and (min-width: 120px) and (max-width: 1300px) {
  body {
    background-size: cover;
    height: 620px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 745px) {
  .signup {
    margin-left: auto;
    margin-right: auto;
  }
}
